#content {
    background-color: red;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(224, 224, 32);
    margin: 2% 5% 2% 5%;
    padding: 40px;
}

button {
    border-radius: 6px;
    border: none;
    background-color: skyblue;
}